apiVersion: 1

providers:
  - name: 'Monitoring Dashboards'
    orgId: 1
    folder: '{{ grafana_dashboard_folder }}'
    type: file
    disableDeletion: false
    editable: true
    options:
      path: /etc/grafana/provisioning/dashboards
