apiVersion: 1

providers:
  - name: 'Node Exporter Dashboards'
    orgId: 1
    folder: 'Node Exporter'
    type: file
    disableDeletion: false
    editable: true
    options:
      path: /etc/grafana/provisioning/dashboards
